$color-blue: #83a598;
$color-light: #fbf1c7;
$color-green: #8ec07c;

.image {
  max-width: 400px;
  max-height: 350px;
}

.link {
  text-decoration: underline;
  color: $color-light;
}

.link:hover {
  text-decoration: none;
  color: $color-blue;
}

.h1_color {
  color: $color-green;
}
