$color-dark: #282828;
$color-light: #fbf1c7;

html {
  background: $color-dark;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 650px;
}

.centerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  color: $color-light;
  margin: 4px 0;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro';
  font-size: 24pt;
  font-weight: 700;
  padding: 10px 0;
  margin: 30px 0 10px 0;
}

