$color-dark: #282828;
$color-light: #fbf1c7;

html {
  background: $color-dark;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.centerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  color: $color-light;
  margin: 10px 10px;
  text-decoration: none;
}

.nav {
  font-family: 'Source Sans Pro';
  font-size: 24pt;
  font-weight: 700;
}
